@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";


@theme {
  --font-display: "Space Grotesk", sans-serif;
  
  --color-primary: #5b13ec;
  --color-primary-dark: #4a0ec0;
  --color-primary-light: #7c42f2;
  --color-background-light: #f6f6f8;
  --color-background-dark: #131118;
  --color-surface-dark: #1f1c27;
  --color-border-dark: #2e2839;
  --color-text-secondary: #a69db9;

  /* --radius-DEFAULT: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
  --radius-2xl: 3rem; */
}

@layer base {
  body {
    @apply bg-background-dark text-slate-100 font-display selection:bg-primary selection:text-white;
  }
   button{
    @apply cursor-pointer
   }
}

@layer utilities {
  .glass-nav {
    background: rgba(19, 17, 24, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  .glow-text {
    text-shadow: 0 0 30px rgba(91, 19, 236, 0.3);
  }
  .grid-bg {
    background-image: linear-gradient(rgba(46, 40, 57, 0.2) 1px, transparent 1px),
      linear-gradient(90deg, rgba(46, 40, 57, 0.2) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}



/* Hide scrollbar for all browsers */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}